body{
    background-color: blueviolet;
    color:aquamarine
}
section{
background-color: darkblue;
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;
}
.chamada-texto{
    margin-right: 40px;
}
}
img{
    hight:200px;
}
.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}